
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="width: 100%; display: inline-block;">

    </div>

    <table class="table">
        <tr>
            <th>No</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </table>
</div>